<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <ul>
    <li><a href="/cool">cool</a></li>
    <li><a href="/times">times</a></li>
    <li><a href="/db">db</a></li>
    <li><a href="/kana">kana</a></li>
  </ul>
</body>
</html>
