<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>
    <%= choice %>
  </h1>
  <form method="post">
    <input type="text" name="userinput" autocomplete="off">
    <input type="hidden" name="genkana" value="<%= choice %>">
    <input type="submit" value="Check your answer">
  </form>
</body>
</html>
