<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>
    <% choice %>
    <form method="post">
      <input type="text" name="userinput" autocomplete="off">
      <input type="submit">
    </form>
  </h1>
</body>
</html>
