<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>
    <%= correct %>
  </h1>
  <form method="get">
    <next="/kana">
      <input type="submit" value="Next">
  </form>
</body>
</html>
