<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>
    <%= correct %>
  </h1>
  <form action='/kana'>
    <input type="submit" value="Next" autofocus />
  </form>
</body>
</html>
